html, body { height:100%; }
div { 
  margin:20px auto;
  height:250px;
  width:500px;
  position:relative;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGklEQVQYV2NkYGD4D8TogBGbwKhCWKjQIXgAsRkKC7InvcAAAAAASUVORK5CYII=);
  background-size: 5%;
}
body:active div:before, body:active div:after {
  background:hsl(0, 0%, 41%);
}
div:before {
  content: " ";
  position: absolute;
  height:20px; width:75px;
  top: 33%; left: 0px;
  background:yellow;
  -webkit-animation:move 25s linear alternate infinite;
  animation:move 25s linear alternate infinite;
}
div:after {
  content: " ";
  position: absolute;
  height:20px; width:75px;
  top: 66%; left: 0px;
  background:rgb(0,0,119);
  -webkit-animation:move 25s linear alternate infinite;
  animation:move 25s linear alternate infinite;
}
@keyframes move {
  /* Should be `-width`, but the background-size messses it up a little */
  100% { left: calc(100% - 80px); }
}
@-webkit-keyframes move {
  /* Should be `-width`, but the background-size messses it up a little */
  100% { left: calc(100% - 80px); }
}